<div class="tech-btm">
	<p>Tüm blog yazılarından haberdan olun </p>
	<form action="/Newsletter/SubscribeMail/" method="post">
		<input type="email" placeholder="E-Posta Adresiniz" required="" name="Mail">
		<input type="submit" value="Abone Ol">
	</form>
</div>